body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
}
section {
    padding: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 5px;
}


