body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 100px;
}
h1 {
  font-family: "Yellotale";
  font-size: 40px;
  font-weight: 800;
  color: rgb(75, 73, 105);
}
h2 {
  padding: 15px;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 700;
  color: rgb(75, 73, 105);
  text-align: center;
}
h3,
h4 {
  padding: 15px;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 500;
  color: rgb(75, 73, 105);
  text-align: center;
}
p {
  margin: 15px;
  padding: 15px;
  font-family: "TextMeOne";
  font-size: 25px;
  text-align: center;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  background: rgb(207, 183, 192);
  background: linear-gradient(
    90deg,
    rgba(207, 183, 192, 0.8) 0%,
    rgba(189, 206, 225, 0.8) 100%
  );
  color: rgb(17, 14, 65);
  text-align: center;
  padding: 1em;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul {
  list-style: none;
  display: flex;
  margin: 20px;
  padding: 0;
}

.navigation li {
  margin: 0 15px;
}
.navigation li:hover {
  text-decoration: underline;
}

.navigation a {
  text-decoration: none;
  color: rgb(75, 73, 105);
  font-weight: bold;
  font-family: Roboto;
  font-size: 20px;
}
.showNav {
  z-index: 15;
  background: rgb(207, 183, 192);
  background: linear-gradient(
    90deg,
    rgba(207, 183, 192, 0.8) 0%,
    rgba(189, 206, 225, 0.8) 100%
  );
}
.showNav a {
  text-decoration: none;
  color: rgb(75, 73, 105);
  font-weight: bold;
  font-family: Roboto;
  font-size: 20px;

}
.burger {
  display: none;
  cursor: pointer;
}
section {
  padding: 2em;
}


form {
  margin-top: 20px;
  max-width: 900px;
  margin: 0 auto;
}
form button {
  background: linear-gradient(
    90deg,
    rgba(207, 183, 192, 0.8) 0%,
    rgba(189, 206, 225, 0.8) 100%
  );
  color: rgb(75, 73, 105);
  color: rgb(75, 73, 105);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#prevButton,
#nextButton {
  background: linear-gradient(
    90deg,
    rgba(207, 183, 192, 0.8) 0%,
    rgba(189, 206, 225, 0.8) 100%
  );
  color: rgb(75, 73, 105);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.slider-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error {
  color: red;
  margin-top: 5px;
}

/* about cats */
.slider-container {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;

}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  text-align: center;
}

.slide img {
  width: 40%;
  max-height: 600px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
/* feeding */

#feeding {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f8ff;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.feeding-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.feeding-image img {
  max-width: 500px;
  height: auto;
}

.feeding-article {
  max-width: 600px;
  margin-left: 20px;
}
/* bathing */
#bathing {
  text-align: center;
}

.bathing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
}

.bathing-video {
  display: flex;
  justify-content: center;
  flex: 1;
  max-width: 600px;
  width: 100%;
}

.bathing-article {
  flex: 1;
  max-width: 600px;
  margin-left: 20px;
  text-align: left;
}

.bathing-article ul {
  list-style: none;
  padding: 0;
}

.bathing-article li {
  font-family: "TextMeOne";
  font-weight: 900;
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.fa-arrow-up {
  width: 50px;
  height: 50px;
  font-size: 30px;
  position: fixed;
  bottom: 70px;
  right: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(
    90deg,
    rgba(207, 183, 192, 0.8) 0%,
    rgba(189, 206, 225, 0.8) 100%
  );
  color: rgb(75, 73, 105);
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.cat-owners-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.cat-owners-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}
.cat-owners-li {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.image-user {
  margin: 10px;
}

/* health Care */
.health-care {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f8ff;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.health-care li {
  font-family: "TextMeOne";
  font-weight: 900;
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/* footer */

footer {
  background: linear-gradient(
    90deg,
    rgba(207, 183, 192, 0.8) 0%,
    rgba(189, 206, 225, 0.8) 100%
  );
  color: rgb(75, 73, 105);
  text-align: center;
  padding: 1em;
  bottom: 0;
  width: 100%;
}
.footer-social-icons {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.fa-brands {
  background: linear-gradient(
    90deg,
    rgba(207, 183, 192, 0.8) 0%,
    rgba(189, 206, 225, 0.8) 100%
  );
  color: rgb(75, 73, 105);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}